
.logo {
    /* position: absolute; */
    max-width: 12.938rem;
    height: 3.125rem;
    left: 7.25rem;
    top: 1.188rem;
}

@media(max-width: 768px) {
    .logo {
      max-width: 9.938rem !important;
       max-height: 3.125rem !important;
    }
  }

.navbar-nav {
    margin-left: 5.219rem;
  }

  @media(max-width: 768px) {
    .navbar {
      margin-right: 0rem !important;
    }
  }

.navbar-nav > li > a {
    /* position: static; */
    margin-right: 2rem;
    font-family: var(--primary-font);
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font-size: 0.875rem;
}

.navbar-brand {
    max-width: 13.938rem;
    padding: 0 !important;
    height: 4.125rem !important;
  }


  .nav-item-enter {
      margin-left: 4.944rem;
      font-family: var(--primary-font);
      font-weight: bolder;
      font-size: 0.875rem;
  }

  .btn {
      width: 9.188rem;
      height: 2.625rem;
      border-radius: 6.25rem;
      background-color: var(--primary-green);
      color: var(--primary-white);
      font-family: var(--primary-font);
      font-size: 0.875rem;
      border: var(--primary-green);
  }

 