@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --primary-white: #ffffff;
    --primary-black: #000;
    --primary-green: #8BAC3E;
    --primary-font: "Rubik";
  }

.App {
  font-family: var(--primary-font);
}

.title {
  font-weight: bolder;
  font-size: 2.375rem;
}

@media(max-width: 768px) {
  .title {
   font-size: 2rem !important;
  }
}

.receipt {
  font-weight: bolder;
  font-size: 2.375rem;
  color: var(--primary-green)
}

@media(max-width: 768px) {
  .receipt {
   font-size: 1.8rem !important;
  }
}