@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --primary-white: #ffffff;
    --primary-black: #000;
    --primary-green: #8BAC3E;
    --primary-font: "Rubik";
  }

.App {
  font-family: var(--primary-font);
}

.title {
  font-weight: bolder;
  font-size: 2.375rem;
}

.receipt {
  font-weight: bolder;
  font-size: 2.375rem;
  color: var(--primary-green)
}